.nav_parent {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
    align-items: center;
    
  }
  .nav_links {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.1rem;
    margin: 5px;
    padding: 5px;
    color: white;
    background-color: rgb(197, 52, 52);
    border-radius: 10px;
    text-decoration: none;
    width: 85%;
    height: 45px;
    margin-top: 105%;
  }

  .nav_links_1 {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.1rem;
    margin: 5px;
    padding: 5px;
    color: rgb(197, 52, 52);
    background-color: white;
    border-radius: 10px;
    text-decoration: none;
    width: 85%;
    height: 45px;
  }
